<h2 class="first">
    Resume</h2>
<div class="content-section implementation">
    <h3 class="first">Basic Information</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input pInputText [(ngModel)]="resume.firstname" placeholder="First Name" />
            </div>
        </div>

        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input pInputText [(ngModel)]="resume.lastname" placeholder="Last Name" ngDefaultControl />
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fas fa-envelope-square"></i>
                    </span>
                    <input pInputText [(ngModel)]="resume.email" placeholder="Email" ngDefaultControl />
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fas fa-phone"></i>
                    </span>
                    <input pInputText [(ngModel)]="resume.contact" placeholder="Contact" />
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fas fa-home"></i>
                    </span>
                    <input pInputText [(ngModel)]="resume.addr" placeholder="Address" />
                </div>
            </div>
        </div>
    </div>


    <h3>Education Background</h3>
    <div class="ui-inputgroup">
        <div class="ui-g ui-fluid" *ngFor="let item of resume.edu">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">School</span>
                        <input type="text" [(ngModel)]="item.name" pInputText placeholder="School Name" />
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" [(ngModel)]="item.degree" pInputText placeholder="Degree" />
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <p-calendar [(ngModel)]="item.startTime"></p-calendar>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <p-calendar [(ngModel)]="item.endTime"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <h3>Work Experience</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-inputgroup">
            <div *ngFor="let item of resume.work">
                <div class="ui-g-12 ui-md-4">
                    <label>Company Name: </label>
                    <input pInputText [(ngModel)]="item.name" />

                    <p-calendar [(ngModel)]="item.startTime" placeholder="start time"></p-calendar>
                    <p-calendar [(ngModel)]="item.endTime" placeholder="end time"></p-calendar>
                    <textarea pInputTextarea [(ngModel)]="item.description" [rows]="6" [cols]="50" placeholder="description"></textarea>
                </div>
            </div>
        </div>

    </div>


    <h3>Skills</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-inputgroup">
            <div *ngFor="let item of resume.skills; let i = index">
                <div class="ui-g-12 ui-md-12">
                    <input pInputText [(ngModel)]="resume.skills[i]" placeholder="skill" />
                </div>
            </div>
        </div>
    </div>

    <h3>Honor or Award</h3>
    <div class="ui-g ui-fluid">

        <div *ngFor="let item of resume.awards">
            <label>Award: </label>
            <input type="text" [(ngModel)]="item.name" pInputText ngDefaultControl/>
            <p-calendar [(ngModel)]="item.time"></p-calendar>
            <br>
            <textarea pInputTextarea [rows]="6" [cols]="50" [(ngModel)]="item.award"></textarea>
        </div>

    </div>
    <p-button label="Submit" (onClick)="handleClick($event)"></p-button>

</div>