
<h3 class="first">Resume</h3>
<div>
  <form>
    <div class="ui-g">
        <div class="ui-g-3">
            <label>First Name:  </label>
            <input type="text" pInputText />
          </div>
      
          <div  class="ui-g-3">
            <label>Last Name:  </label>
            <input type="text" pInputText />
          </div>

          <div class="ui-g-3">
              <label>Contact Info: </label>
              <input type="text" pInputText />
          </div>
    </div>

    <div class="ui-g">
        <p-card class="ui-g-6">
            <label> Education Background </label>
            <br>
            <textarea pInputTextarea></textarea>
        </p-card>
    </div>

    <div  class="ui-g">
      <p-card>
          <label>Work Experience</label>
          <br>
          <textarea pInputTextarea></textarea>
      </p-card>
    </div>

    <div  class="ui-g">
      <p-card>
          <label>Education Background</label>
          <span>
            <label>School: </label>
            <textarea pInputTextarea></textarea>
          </span>
      </p-card>
    </div>

    <div class="ui-g">
      <p-card>
          <label>Skills</label>
          <span>
              <textarea pInputTextarea></textarea>
          </span>
      </p-card>
    </div>

    <div class="ui-g">
      <p-card> 
        <label>Honor or Award</label>
        <span>
          <input type="text" pInputText />
        </span>
      </p-card>
    </div>

  </form>
</div> 